---
import Link from "components/Link.astro";
import { PATHS } from "paths";
import { getLangFromUrl, useTranslations } from "i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<ul>
  <li>
    <Link href={PATHS.mmi1.intro}>
      {t("menu.mmi1.intro")}
    </Link>
  </li>
  <li>
    <Link href={PATHS.mmi1.TD_HTML5}>
      {t("menu.mmi1.TD.HTML5")}
    </Link>
  </li>
</ul>
