---
import Link from "components/Link.astro";
import { PATHS } from "paths";
import { getLangFromUrl, useTranslations } from "i18n/utils";
import MMI1TDMenu from "./MMI1TDMenu.astro";
import MMI1TPMenu from "./MMI1TPMenu.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<ul>
  <li>
    <Link href={PATHS.mmi1.intro}>
      {t("menu.mmi1.intro")}
    </Link>
  </li>
  <li>
    <details id="TD">
      <summary>{t("menu.mmi1.TD.title")}</summary>
      <MMI1TDMenu />
    </details>
  </li>
  <li>
    <details id="TD">
      <summary>{t("menu.mmi1.TP.title")}</summary>
      <MMI1TPMenu />
    </details>
  </li>
  
</ul>
