---
import Link from "components/Link.astro";
import { PATHS } from "paths";
import { getLangFromUrl, useTranslations } from "i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<ul>
  <li>
    <Link href={PATHS.mmi1.TD_PHP_begin}>
      {t("menu.mmi1.TD.PHP_begin")}
    </Link>
  </li>
  <li>
    <Link href={PATHS.mmi1.TD_PHP_inter}>
      {t("menu.mmi1.TD.PHP_inter")}
    </Link>
  </li>
</ul>
