---
import { getLangFromUrl, useTranslations } from "i18n/utils";
import CSSMenu from "./CSSMenu.astro";
import PHPMenu from "./PHPMenu.astro";
import JSMenu from "./JSMenu.astro";
import Link from "components/Link.astro";
import { PATHS } from "paths";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<ul>
  <li>
    <details id="test3">
      <summary>{t("menu.css.title")}</summary>
      <CSSMenu />
    </details>
  </li>
  <li>
    <details id="test4">
      <summary>{t("menu.php.title")}</summary>
      <PHPMenu />
    </details>
  </li>
  <li>
    <details id="test5">
      <summary>{t("menu.js.title")}</summary>
      <JSMenu />
    </details>
  </li>
  

</ul>
