---
import Link from "components/Link.astro";
import { PATHS } from "paths";
import { getLangFromUrl, useTranslations } from "i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<ul>
  <li>
    <Link href={PATHS.semestre1.td.PHP_inter}>
      {t("menu.php.php.title")}
    </Link>
  </li>
</ul>
