* {
 color: darkslategrey;
}

h1,h2 {
  color: coral;
}


header h1 {
    text-align: center;
    margin-bottom: 100px;
}

main {
    display: flex;
    flex-direction: column;
    gap: 500px;
}

main section {
        display: grid;
        grid-template-columns: 1fr 2fr;
}


header h1 {
    animation: animation-titre 2s;
}

@keyframes animation-titre {
    0%{
        transform: scale(200%, 200%);
        opacity: 0;
    }

    100% {
        transform: scale(1, 1);
        opacity: 1;
    }
}

.droite {
    display: flex;
    justify-content: center;
    align-items: center;
}