---
import Link from "components/Link.astro";
import { PATHS } from "paths";
import { getLangFromUrl, useTranslations } from "i18n/utils";
import IntegrationMenu from "./integrationMenu.astro";
import GestionDeContenuMenu from "./gestionDeContenuMenu.astro";
import SiteWebAvecDonneesMenu from "./SiteWebAvecDonnees.astro";


const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<ul>
  <li>
    <details id="Integration">
      <summary>{t("menu.semestre2.integration.title")}</summary>
      <IntegrationMenu />
    </details>
  </li>
  <li>
    <details id="GestionDeContenu">
      <summary>{t("menu.semestre2.gestionDeContenu.title")}</summary>
      <GestionDeContenuMenu/>
    </details>
  </li>
  <li>
    <details id="SiteWebAvecDonnees">
      <summary>{t("menu.semestre2.siteWebAvecDonees.title")}</summary>
      <SiteWebAvecDonneesMenu />
    </details>
  </li>
</ul>
