---
import Link from "components/Link.astro";
import { PATHS } from "paths";
import { getLangFromUrl, useTranslations } from "i18n/utils";
import DeveloppementWebMenu from "./developpementWebMenu.astro";
import ProduireUnSiteWebMenu from "./produireUnSiteWebMenu.astro";
import IntegrationMenu from "./integrationMenu.astro";


const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<ul>
  <li>
    <Link href={PATHS.semestre1.intro}>
      {t("menu.mmi1.intro")}
    </Link>
  </li>
  <li>
    <details id="IntegrationMenu">
      <summary>{t("menu.semestre1.integration.title")}</summary>
      <IntegrationMenu />
    </details>
  </li>
  <li>
    <details id="DeveloppementWebMenu">
      <summary>{t("menu.semestre1.developpementWeb.title")}</summary>
      <DeveloppementWebMenu />
    </details>
  </li>
  <li>
    <details id="ProduireUnSiteWebMenu">
      <summary>{t("menu.semestre1.produireUnSiteWeb.title")}</summary>
      <ProduireUnSiteWebMenu />
    </details>
  </li>
  
  
</ul>
