---
import Link from "components/Link.astro";
import { PATHS } from "paths";
import { getLangFromUrl, useTranslations } from "i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<ul>
      <li>
        <Link type="TD" href={PATHS.semestre3.td.nodeS1}>
          {t("menu.mmi2.deploimentService.nodeS1")}
        </Link>
      </li>
      <li>
        <Link type="TD" href={PATHS.semestre3.td.nodeS2}>
          {t("menu.mmi2.deploimentService.nodeS2")}
        </Link>
      </li>
      <li>
        <Link type="TP" href={PATHS.semestre3.tp.api}>
          {t("menu.mmi2.deploimentService.apiTp")}
        </Link>
      </li>
      <li>
        <Link type="TP" href={PATHS.semestre3.tp.retool}>
          {t("menu.mmi2.deploimentService.retoolTp")}
        </Link>
      </li>
    
</ul>