---
import Link from "components/Link.astro";
import { PATHS } from "paths";
import { getLangFromUrl, useTranslations } from "i18n/utils";
import DeploimentServicesMenu from "./deploimentServices.astro";
import DeveloppementFrontMenu from "./developpementFront.astro";
import IntegrerInterfaceMenu from "./integrerInterface.astro";


const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<ul>
    <li>
        <details id="deploimentServices">
            <summary>{t("menu.semestre3.deploimentServices.title")}</summary>
            <DeploimentServicesMenu/>
        </details>
    </li>
    <li>
        <details id="deploimentServices">
            <summary>{t("menu.semestre3.developpementFront.title")}</summary>
            <DeveloppementFrontMenu/>
        </details>
    </li>
    <li>
        <details id="deploimentServices">
            <summary>{t("menu.semestre3.integrerInterface.title")}</summary>
            <IntegrerInterfaceMenu/>
        </details>
    </li>
</ul>
