---
type Props = {
  href: string;
  className?: string;
  type?: string; // Le type est optionnel
};

import { getRelativeLocaleUrl } from 'astro:i18n';

const { href, className, type = 'UNKNOWN' } = Astro.props;

const link = getRelativeLocaleUrl(Astro.currentLocale, href)

const tagColor = type === 'TD' ? 'bg-green-500' :
                 type === 'TP' ? 'bg-red-500' : 
                 'bg-gray-500'; // Couleur par défaut pour un type inconnu
---
  
<a onclick="document.getElementById('sidebar').classList.toggle('-translate-x-full')" href={link} class={`inline-flex items-center gap-2 ${className}`}>
  {type !== 'UNKNOWN' && <span class={`flex items-center text-center text-white text-xs min-h-5 min-w-5 size-5 justify-center rounded ${tagColor}`}>{type}</span>}
  <slot />
</a>

  
 
