---
import JSMenu from "./JSMenu.astro";
import Link from "components/Link.astro";
import MenuIcon from "components/MenuIcon.astro";
import { PATHS } from "paths";
import { getLangFromUrl, useTranslations } from "i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<script is:inline>
  function handleClick() {
    document.getElementById("sidebar").classList.toggle("-translate-x-full");
  }

  document.getElementById("sidebar").class = sideBarClass;
</script>

<button
  onclick="handleClick()"
  aria-controls="sidebar"
  type="button"
  class="inline-flex items-center p-2 mt-2 ms-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
>
  <span class="sr-only">Open sidebar</span>
  <MenuIcon />
</button>

<aside
  id="sidebar"
  class="fixed top-0 left-0 z-40 w-72 h-screen transition-transform -translate-x-full sm:translate-x-0"
  aria-label="Sidebar"
>
  <div class="h-full px-3 py-4 overflow-y-auto bg-gray-50 dark:bg-gray-800">
    <div class="flex justify-between items-center">
      <Link href="/" class="flex items-center ps-2.5 mb-5">
        <span
          class="self-center text-xl font-semibold whitespace-nowrap dark:text-white"
          >MMI2 Dev</span
        >
      </Link>
      <button
        type="button"
        onclick="handleClick()"
        aria-controls="sidebar"
        class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
      >
        <span class="sr-only">Close sidebar</span>
        <MenuIcon />
      </button>
    </div>
    <ul class="space-y-2 font-medium menu">
      <li>
        <details open>
          <summary>{t("menu.js.title")}</summary>
          <JSMenu />
        </details>
      </li>
    </ul>
  </div>
</aside>
