---
import Layout from "layouts/Layout.astro";
import { getRelativeLocaleUrl } from "astro:i18n";

export const prerender = false;

const link = getRelativeLocaleUrl(Astro.currentLocale, "/");
---

<Layout title="Quiz fermé">
  <p>
    Ce test n'est pas disponible pour le moment, vous ne pouvez pas y acceder
  </p>
  <a class="btn btn-primary" href={link}>Retourner a l'acceuil</a>
</Layout>
