---
import { ClientRouter } from "astro:transitions";
import Sidebar from "components/Sidebar/Sidebar.astro";

interface Props {
  title: string;
  frontmatter?: { title?: string };
}

const { title, frontmatter } = Astro.props;
const finalTitle = title ?? frontmatter?.title ?? "MMI - Site";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="MMI2 Dev website" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/png" href="/src/assets/univ_logo.png" />
    <title>{finalTitle}</title>
    <ClientRouter />
  </head>
  <body>
    <header transition:persist>
      <Sidebar />
    </header>
    <main
      transition:animate="fade"
      class="p-10 px-18 mt-20 prose prose-slante lg:prose-lg max-w-full"
    >
      <h1>{finalTitle}</h1>
      <slot />
    </main>
  </body>
</html>
